.playerSection {
    display: flex;
    flex-direction: column;
  }
  
  .playerHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .player-delete-icon {
    height: 1.5rem;
    width: 1.5rem;
    cursor: pointer;
    color: black;
  }

  .player-delete-icon:hover, .roster-delete-icon:hover  {
    opacity: 80%;
    box-shadow: 0 0 0.1rem rgba(118, 0, 0, 0.502);
    background-color: rgba(118, 0, 0, 0.502);
    transition: all 0.3s ease;
  }

  .playerAbilityIcons {
    margin: 1rem;
    padding: 1rem;
  }

  .playerAbilityIcon {
    margin: 0;
    padding: 0;
  }

  
  .roster-delete-icon {
    height: 1.5rem;
    width: 1.5rem;
    cursor: pointer;
    color: black;
  }
  