.sidebar {
    background-color: #181818;
    width: 300px;
    max-width: 300px;
    padding-top: 20px;
    border: 1px solid #e6e3de;
  }
  
  .playerSection {
    /* Style each player's section */
    margin: 0px;
  }
  
  .playerName {
    /* Style the player name */
    color: #ffffff;
    margin: 0px;
    margin-left: 5px;
  }
  
  .playerAbilityIcon {
    /* Style the player ability icons */
    padding: 2px;
    margin-left: 5px;
  }
  

