.timeIndicator {
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: black; /* or your preferred color */
    top: 0;
  }

  .timeIndicatorBar {
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: #000000;
  }
  
  .timeIndicatorContainer {
    position: absolute;
    width: 1px;
    height: 100%;
  }
  