.timeIndicatorLabelTop {
    position: absolute;
    transform: translateX(-50%);
    bottom: -22px;  /* Adjust this to move the label up or down */
    padding: 2px 5px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    font-size: 12px;
    border-radius: 2px;
  }

  .timeIndicatorLabelBottom {
    position: absolute;
    transform: translateX(-50%);
    Top: -22px;  /* Adjust this to move the label up or down */
    padding: 2px 5px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    font-size: 12px;
    border-radius: 2px;
  }
  

  