/* .timeline {
    
}
 */
.container {
    display: flex;
  }
  
  .timeline-container {
    flex: 2;
    background-color: #181818;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    height: auto;
    min-height: 100vh;
  }
  
  .timeline-panel {
    position: relative;
    border: 1px solid #dee2e6;
  }
  