.sidebar {
    background-color: #181818;
    width: 18rem;
    max-width: 18rem;
  }
  
  .playerSection {
    /* Style each player's section */
    margin: 0rem;
  }
  
  .playerName {
    /* Style the player name */
    color: #ffffff;
    margin: 0rem;
    margin-left: 0.3rem;
    font-size: medium;
  }
  
  .playerAbilityIcon {
    /* Style the player ability icons */
    padding: 0rem;
    margin-left: 0rem;
  }
  

